/*
!.github
!.vscode
!/src
!.dockerignore
!.env.example
!.eslintrc
!.gitignore
!.prettierignore
!.prettierrc
!esbuild.config.mjs
!gulpfile.mjs
!.stylelintrc.json
!docker-compose.debug.yml
!docker-compose.yml
!Dockerfile
!git-commit-push-all.sh
!LICENSE
!.meta
!package.json
!playwright.config.js
!postcss.config.js
!README.md
!tailwind.config.js
